.main {
    border: black 3px solid;
}

.btn {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

.numb {
    display: flex;
    justify-content: center;
    padding: 20px;
}

h1 {
    display: block;
    /*height: 50px;*/
    /*width: 50px;*/
    border: black 2px solid;
    margin: 0;
    text-align: center;
}